.square {
    width: 100px;
    height: 100px;
    background-color: red;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
}

.right-angle-triangle {
    width: 0;
    height: 0;
    border-top: 100px solid yellow;
    border-right: 100px solid transparent;
}

.hexagon {
    width: 100px;
    height: 55px;
    background-color: orange;
    position: relative;
}
.hexagon:before,
.hexagon:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.hexagon:before {
    top: -25px;
    border-bottom: 25px solid orange;
}
.hexagon:after {
    bottom: -25px;
    border-top: 25px solid orange;
}

body {
    margin: 0;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .list {
    user-select: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 84, 241);
    color: white;
    height: 150px;
    cursor: grab;
    font-size: 20px;
    user-select: none;
  }
  
  .dragged {
    background-color: rgb(37, 37, 197);
  }
  @media (min-width: 600px) {
    .list {
      grid-gap: 24px;
    }
  }
  